.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}
.aboutCar2 {
    max-width: 70%;
    height: auto;
    width: auto;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
}
.homeContainer,
.footer {
    color: white;
    padding: 1% 0px;
    background: linear-gradient(to left, #c31432, #240b36);
    height: auto;
    flex-grow: 1;
}
.homeContainer {
    padding: 20px;
}
.Highlight {
    color: green;
}
.homePara {
    font-size: 17px;
    margin-bottom: 20px;
}
